<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />

    <link rel="stylesheet" type="text/css" href="CSS/buttonstyle.css">
</head>

<body>
    <form>

        <div style="">
            <div style="background-color:saddlebrown; color:white; padding:20px;align-self:center;border-style:solid;border-color:black;width:40%; margin:auto;padding:10Px">

                <h2>Money Sent</h2>
            </div>

            <div style="align-self:center;border-style:solid;border-color:black;width:40%; margin:auto;padding:10Px;height:400px">
                <div>
                    Money sent to <%- data%> succesfully
                </div>

            </div>

            <div style="text-align:center; background-color:saddlebrown; color:white; padding:20px;align-self:center;border-style:solid;border-color:black;width:40%; margin:auto;padding:10Px">
                <input id="btnSendMoney" formmethod="get" formaction="/sendMoney" type="submit" value="Send More Money">
                <input id="btnView" formmethod="get" formaction="/viewHistory" type="submit" value="View Transaction History">

            </div>

        </div>
    </form>

</body>
</html>
