<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />

    <link rel="stylesheet" type="text/css" href="CSS/buttonstyle.css">

</head>
<body>


    <form>
    <div style="border-style:solid;border-color:black;width:40%;align-self:center;margin:auto;height:600px;">

        <div style="background-color:saddlebrown; color:white; padding:20px;height:10%;text-align:center">

            <h2>Welcome </h2>

        </div>
        <div style="height:60%;padding:20px">

                     

                <div style="height:50%;text-align:center;">
                    <input type="submit" value="Send Money" id="btnSendMoney" formmethod="get" formaction="/sendMoney" />

                    </div>

            <div style="height:50%;text-align:center;">
                <input type="submit" id="btnViewTransactionHistory" value="View Transaction History" formmethod="get" formaction="/viewHistory" />

            </div>
           

        </div>
        <div style="background-color:saddlebrown; color:white;height:10%;padding:20px">


        </div>

    </div>
  </form>

</body>
</html>